<h4>Edit Sighting:</h4>
<p>All fields are required.</p>
<hr>

<%= render "layouts/sightings_form" %>
<hr>

<% if @sighting.errors %>
    <ul>
        <% @sighting.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<a><%= link_to "Delete Sighting", sighting_path(@sighting), :class => "btn btn-warning", method: :delete, data: {confirm: 'Are you totally totally sure?'}%></a>




