<h4>Report New <%= @animal.name %> Sighting</h4>
<p>Add a new sighting to the database by completing this form. All fields required.</p>
<hr>

<%= render "layouts/sightings_form" %><br />

<% if @sighting.errors %>
    <ul>
        <% @sighting.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
