<h4>Edit <%= @animal.name %></h4>
<p>All fields are required.</p>
<hr>

<%= render "layouts/animals_form" %>

<% if @animal.errors %>
    <ul>
        <% @animal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<hr>
<a><%= link_to @animal.name + ": Delete", animal_path(@animal), :class => "btn btn-warning", method: :delete, data: {confirm: 'Are you totally totally sure?'}%></a>




