<h1>Welcome to Forest Park Ranger Services</h1>
<hr>

<h4>Animal Database</h4>
<br />

<ol>
    <% @animals.each do |animal| %>
        <div>
            <a><%= link_to animal.name + ": Detailed Specs", animal_path(animal), :class => "btn btn-success" %></a>
        </div><br />
    <% end %>
</ol>
<br />
<h5>Click below to add a new animal to the database: </h5>
<a><%= link_to "Add New Animal", new_animal_path, :class => "btn btn-success" %></a>