<h4>Add New Animal</h4>
<p>Add a new animal to the database by completing this form. All fields required.</p>
<hr>

<%= render "layouts/animals_form" %>

<% if @animal.errors %>
    <ul>
        <% @animal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
